# run slow tests only for PRs on dev that are ready for review
on:
  pull_request:
    branches: [dev]
    types: [opened, synchronize, reopened, ready_for_review]

name: slow-tests
jobs:
  slow-tests:
    if: github.event.pull_request.draft == false
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,   r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install libpoppler-cpp-dev # required to install pdftools (R pkg)
        run: sudo apt-get install libpoppler-cpp-dev

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::devtools

      - name: Installing package
        run: make install

      - name: Run slow checks
        run: make slowtest